@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap" rel="stylesheet');

:root{
    --white: hsl(0, 0%, 100%);
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --font-1: "Lexend Deca", serif;
    --font-2: "Big Shoulders Display", serif
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    padding-bottom: 25px;
}

h2{
    font-family: var(--font-2);
    color: var(--white);
    font-size: 40px;
    padding-bottom: 30px;
}

p{
    color: var(--white);
    padding-bottom: 80px;
    font-size: 18px;
}

.outter-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.inner-wrapper{
    display: flex;
    padding: 100px 400px;
}

.sedans{
    background-color: var(--bright-orange);
    padding: 40px;
    border-radius: 10px 0 0 10px;
}

.suvs{
    background-color: var(--dark-cyan);
    padding: 40px;
}

.luxury{
    background-color: var(--very-dark-cyan);
    padding: 40px;
    border-radius: 0 10px 10px 0;
}

button{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 100px;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 475px) {
    .outter-wrapper{
        height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    .inner-wrapper{
        flex-direction: column;
        padding: 20px 10px;
    }
    .sedans{
        border-radius: 10px 10px 0 0;
    }
    .luxury{
        border-radius: 0 0 10px 10px;
    }
}