@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap" rel="stylesheet');

:root{
    --white: hsl(0, 0%, 100%);
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --font-1: "Lexend Deca", serif;
    --font-2: "Big Shoulders Display", serif
}

html{
    font-size: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    padding-bottom: 25px;
}

h2{
    font-family: var(--font-2);
    color: var(--white);
    font-size: 40px;
    padding-bottom: 30px;
}

p{
    color: var(--white);
    padding-bottom: 80px;
    line-height: 1.5;
}

.outter-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    max-inline-size: min(90vw, 65rem);
    padding-block: 100px;
    overflow: hidden;
}

.outter-wrapper .inner-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 12% auto;
}

.inner-wrapper .my-section{
    padding: 40px;
    flex: 1 1 20rem;
}

.sedans{
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.suvs{
    background-color: var(--dark-cyan);
}

.luxury{
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

button{
    border-radius: 20px;
    border: 2px solid var(--white);
    height: 40px;
    width: 100px;
}

.sedans button{
    color: var(--bright-orange);
}

.suvs button{
    color: var(--dark-cyan);
}

.luxury button{
    color: var(--very-dark-cyan);
}

button:hover{
    background-color: transparent;
    color: var(--white);
    transition-duration: 0.3s;
}

@media screen and (max-width: 475px) {
    .outter-wrapper{
        display: flex;
    }
    .outter-wrapper .inner-wrapper{
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
    }
    .sedans{
        border-radius: 10px 10px 0 0;
    }
    .luxury{
        border-radius: 0 0 10px 10px;
    }
}